@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Make your step to help stop hunger!</h1>
    <hr>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register" />
        </div>
        <div class="col-md">
            <partial name="_Login" />
        </div>
    </div>
</div>
